## Random alocation for second experiment

In this experiment we will switch set all non_ meaningful agents into meaningful locations and the meaningful agents into residential areas

In [18]:
import pandas as pd
import random
import numpy as np

In [19]:
BuildingIDs = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/BuildingCoordinates_short.csv')
BuildingIDs.head()

,Unnamed: 0,BuildingCenterWorld.x,BuildingCenterWorld.z,Name,BuildingName,PointingTargetBuildingId,AgentID,PointingTargetCondition,Context,Agent
0,0,255.062286,-18.984482,30_SaNo,TaskBuilding_1,1,30,SaNo,False,False
1,1,255.062286,-18.984482,30_Sa,TaskBuilding_1,1,30,Sa,False,True
2,2,197.370117,234.419739,3_CmANo,TaskBuilding_2,2,3,CmANo,True,False
3,3,197.370117,234.419739,3_CmA,TaskBuilding_2,2,3,CmA,True,True
4,4,132.904114,29.115139,13_CmA,TaskBuilding_3,3,13,CmA,True,True

In [20]:
#Grouping data to get a key  of agent-building
Building_Agent = pd.DataFrame(BuildingIDs.groupby(['AgentID', 'BuildingName', 'PointingTargetBuildingId', 'Context'])['Agent'].count())
Building_Agent.drop('Agent', axis=1, inplace=True)
Building_Agent.reset_index(inplace=True)
print(Building_Agent.info())
Building_Agent.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AgentID                   56 non-null     int64
 1   BuildingName              56 non-null     object
 2   PointingTargetBuildingId  56 non-null     int64
 3   Context                   56 non-null     bool
dtypes: bool(1), int64(2), object(1)
memory usage: 1.5+ KB
None

    AgentID                BuildingName  PointingTargetBuildingId  Context
51       52             TaskBuilding_48                        48    False
52       53             TaskBuilding_54                        54    False
53       54             TaskBuilding_55                        55    False
54       55  Windmill-TaskBuilding_10_1                        10    False
55       56    HighSilo-TaskBuilding_49                        49    False

In [21]:
#Randomly assigning non meaningful agents to meaningful locations
Meaningful_Agents1 = list(range(1,15))
Standing_Agents1 = list(range(29,44))#The original agent ID for non meaningful locations go from 1 to 28
Meaningful_Agents2 = list(range(15,29)) #The original agent ID for non meaningful locations go from 29 to 56
Standing_Agents2 = list(range(44,57))
random.seed(7) # for reproducibility

# We shuffle the IDs to later add to our data set for reasignation
random.shuffle(Meaningful_Agents1)
random.shuffle(Standing_Agents1)
random.shuffle(Meaningful_Agents2)
random.shuffle(Standing_Agents2)

AgentID_Exp2 = [*Standing_Agents2, *Meaningful_Agents2,*Standing_Agents1, *Meaningful_Agents1]  # We concat Standing_Agents first because the first 28 buildings of Building_Agent are meaningful
Building_Agent['AgentID_Exp2'] = AgentID_Exp2
Building_Agent.sort_values('PointingTargetBuildingId', inplace=True)

print(Building_Agent.head())
Building_Agent.to_csv('/Users/tracysanchezpacheco/Documents/Resources/Exp2.csv')

    AgentID    BuildingName  PointingTargetBuildingId  Context  AgentID_Exp2
29       30  TaskBuilding_1                         1    False            31
2         3  TaskBuilding_2                         2     True            55
12       13  TaskBuilding_3                         3     True            52
28       29  TaskBuilding_4                         4    False            34
20       21  TaskBuilding_5                         5     True            17

In [22]:
np.sum(Building_Agent.AgentID_Exp2)

1596

In [23]:
Exp2new = pd.read_csv('/Users/tracysanchezpacheco/Library/CloudStorage/OneDrive-Personal/PhD/Creation/Experiment2/Exp2new.csv', sep=";")
Exp2new.head()

,Unnamed: 0,AgentID,BuildingName,PointingTargetBuildingId,Context,AgentID_Exp2,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,29.0,30.0,TaskBuilding_1,1.0,False,53.0,1.0,NaN,NaN,NaN,NaN
1,28.0,29.0,TaskBuilding_4,4.0,False,6.0,0.0,NaN,NaN,NaN,NaN
2,30.0,31.0,TaskBuilding_6,6.0,False,56.0,1.0,NaN,NaN,NaN,NaN
3,31.0,32.0,TaskBuilding_7,7.0,False,55.0,1.0,NaN,NaN,NaN,NaN
4,54.0,55.0,Windmill-TaskBuilding_10_1,10.0,False,28.0,0.0,NaN,NaN,NaN,NaN

In [24]:
Exp2old = pd.read_csv('/Users/tracysanchezpacheco/Library/CloudStorage/OneDrive-Personal/PhD/Creation/Experiment2/Exp2old.csv', sep=";")
Exp2old.tail()

,AgentID,BuildingName,PointingTargetBuildingId,Context,AgentID_Exp2,Unity,X,Y,Z,Xr,Yr,Zr
51,4,TaskBuilding_47,47,True,52,True,NaN,NaN,NaN,NaN,NaN,NaN
52,23,TaskBuilding_32,32,True,53,True,NaN,NaN,NaN,NaN,NaN,NaN
53,1,TaskBuilding_14,14,True,54,True,p25.51,p2.659,n105.59,NaN,NaN,NaN
54,14,TaskBuilding_11,11,True,55,True,p139.3607,p2.5194,n203.8523,NaN,121.637,NaN
55,27,Crane_59,59,True,56,NaN,n517.62,p5.705,n378.48,NaN,n40.238,NaN

In [25]:
Exp2oldrev = Exp2old.iloc[:,[0,1,-6,-5,-4,-3,-2,-1]]
Exp2newrev = Exp2new.iloc[:,[1,2,3,5]]

In [26]:
Exp2newrev.head()

   AgentID                BuildingName  PointingTargetBuildingId  AgentID_Exp2
0     30.0              TaskBuilding_1                       1.0          53.0
1     29.0              TaskBuilding_4                       4.0           6.0
2     31.0              TaskBuilding_6                       6.0          56.0
3     32.0              TaskBuilding_7                       7.0          55.0
4     55.0  Windmill-TaskBuilding_10_1                      10.0          28.0

In [27]:
Exp2oldrev.head()

,AgentID,BuildingName,X,Y,Z,Xr,Yr,Zr
0,43,TaskBuilding_30,n166.3933,p3.8089,n174.4359,NaN,p180,NaN
1,52,TaskBuilding_48,n343.753,p4.699,n281.723,NaN,n41.176,NaN
2,51,TaskBuilding_43,n312.29,p6.1014899,n104.46,NaN,p123.365,NaN
3,49,TaskBuilding_39,NaN,NaN,NaN,NaN,NaN,NaN
4,55,Windmill-TaskBuilding_10_1,p67.76,p1.188,n42.12,NaN,n63.081,NaN

In [29]:
Merged = Exp2newrev.merge(Exp2oldrev, on='AgentID')

In [30]:
Merged.to_csv('/Users/tracysanchezpacheco/Library/CloudStorage/OneDrive-Personal/PhD/Creation/Experiment2/Exp2merged.csv')