## Random alocation for second experiment

In this experiment we will switch set all non_ meaningful agents into meaningful locations and the meaningful agents into residential areas

In [66]:
import pandas as pd
import random
import numpy as np

In [61]:
BuildingIDs = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/BuildingCoordinates_short.csv')
BuildingIDs.head()

,Unnamed: 0,BuildingCenterWorld.x,BuildingCenterWorld.z,Name,BuildingName,PointingTargetBuildingId,AgentID,PointingTargetCondition,Context,Agent
0,0,255.062286,-18.984482,30_SaNo,TaskBuilding_1,1,30,SaNo,False,False
1,1,255.062286,-18.984482,30_Sa,TaskBuilding_1,1,30,Sa,False,True
2,2,197.370117,234.419739,3_CmANo,TaskBuilding_2,2,3,CmANo,True,False
3,3,197.370117,234.419739,3_CmA,TaskBuilding_2,2,3,CmA,True,True
4,4,132.904114,29.115139,13_CmA,TaskBuilding_3,3,13,CmA,True,True

In [62]:
#Grouping data to get a key  of agent-building
Building_Agent = pd.DataFrame(BuildingIDs.groupby(['AgentID', 'BuildingName', 'PointingTargetBuildingId', 'Context'])['Agent'].count())
Building_Agent.drop('Agent', axis=1, inplace=True)
Building_Agent.reset_index(inplace=True)
print(Building_Agent.info())
Building_Agent.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AgentID                   56 non-null     int64
 1   BuildingName              56 non-null     object
 2   PointingTargetBuildingId  56 non-null     int64
 3   Context                   56 non-null     bool
dtypes: bool(1), int64(2), object(1)
memory usage: 1.5+ KB
None

    AgentID                BuildingName  PointingTargetBuildingId  Context
51       52             TaskBuilding_48                        48    False
52       53             TaskBuilding_54                        54    False
53       54             TaskBuilding_55                        55    False
54       55  Windmill-TaskBuilding_10_1                        10    False
55       56    HighSilo-TaskBuilding_49                        49    False

In [65]:
#Randomly assigning non meaningful agents to meaningful locations
Meaningful_Agents = list(range(1,29))#The original agent ID for non meaningful locations go from 1 to 28
Standing_Agents = list(range(29,57)) #The original agent ID for non meaningful locations go from 29 to 56
random.seed(7) # for reproducibility

# We shuffle the IDs to later add to our data set for reasignation
random.shuffle(Meaningful_Agents)
random.shuffle(Standing_Agents)
AgentID_Exp2 = [*Standing_Agents, *Meaningful_Agents]  # We concat Standing_Agents first because the first 28 buildings of Building_Agent are meaningful
Building_Agent['AgentID_Exp2'] = AgentID_Exp2

Building_Agent.head()

   AgentID     BuildingName  PointingTargetBuildingId  Context  AgentID_Exp2
0        1  TaskBuilding_14                        14     True            54
1        2  TaskBuilding_41                        41     True            43
2        3   TaskBuilding_2                         2     True            40
3        4  TaskBuilding_47                        47     True            52
4        5  Construction_57                        57     True            35

In [67]:
np.sum(Building_Agent.AgentID_Exp2)

1596