## Affiliative Questionnaire

In [1]:
    import numpy as np
import pandas as pd
import matplotlib.image as img
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import matplotlib.collections as clt
import ptitprince as pt
import re
from statsmodels.stats.anova import *

In [2]:
# Data set loading
df_file = "//Users/tracysanchezpacheco/OneDrive/PhD/DataAnalysis/DataAnalysis/AffiliativeQuest/AffiliativeQuest.csv"
df = pd.read_csv(df_file, sep= ',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Timestamp                                               4 non-null      object
 1   ID                                                      4 non-null      int64
 2   1. I prefer to work in group instead of by myself ​     4 non-null      int64
 3   2. I spend a lot of time talking to others              3 non-null      float64
 4   3. I like to study with groups rather than by myself​   4 non-null      int64
 5   4. I try to work alone ​                                4 non-null      int64
 6   5. I prefer to work on my own and let others do theirs  4 non-null      int64
dtypes: float64(1), int64(5), object(1)
memory usage: 352.0+ bytes

In [3]:
#Defining a recode function 

def reverseScoring(df, high, cols):
    '''Reverse scores on given columns
     df = your data frame,
     high = highest score available
     cols = the columns you want reversed in list form'''
    df[cols] = high - df[cols]
    return df

In [4]:
column_names = ['Timestamp', 'ID', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5']
df.columns = column_names
df.head()

             Timestamp    ID  Item1  Item2  Item3  Item4  Item5
0  11/12/2021 16:36:21  8469      3    6.0      2      5      3
1  11/15/2021 15:06:20  7264      1    NaN      1      6      6
2  11/17/2021 13:38:04  3572      5    4.0      3      4      4
3  11/18/2021 12:15:48   365      6    6.0      4      3      3

In [5]:
reverseScoring(df,7,['Item4','Item5'])

             Timestamp    ID  Item1  Item2  Item3  Item4  Item5
0  11/12/2021 16:36:21  8469      3    6.0      2      2      4
1  11/15/2021 15:06:20  7264      1    NaN      1      1      1
2  11/17/2021 13:38:04  3572      5    4.0      3      3      3
3  11/18/2021 12:15:48   365      6    6.0      4      4      4