# Joining final data sets

In [11]:
import os
import pandas as pd
from functools import reduce

In [12]:
# Loading the final datasets data come as a result of the jupiter notebooks contained in  
FRSquest = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/FRSsubs.csv')
FRSquest.drop('Unnamed: 0', axis=1, inplace=True)
FRSquest.head()

       ID  Alter   Global  Overview  Cardinal
0   365.0    37.0     5.6  6.285714       2.5
1  3572.0    23.0     5.7  3.142857       1.0
2  7264.0    23.0     4.7  5.000000       1.0
3  8469.0    29.0     4.2  2.857143       1.0
4  6642.0    19.0     4.9  4.714286       4.0

In [13]:
affiliative = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AffilliativeTend.csv')
affiliative = affiliative[['ID', 'AffiliativeQ_average']]
affiliative.head(18)

      ID  AffiliativeQ_average
0   8469                   3.8
1   7264                   1.4
2   3572                   4.0
3    365                   5.2
4   6642                   4.2
5   5741                   2.8
6   7842                   3.4
7   4176                   3.4
8   9472                   4.6
9   4623                   2.2
10  9502                   2.4
11  7093                   3.6
12  2258                   5.0
13  1754                   2.4
14  5238                   5.0
15  8695                   4.8
16  3976                   2.4
17  5531                   5.6

In [14]:
context = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/ContextQuest.csv')
context = context[['ID', 'ContextQ_average']]
context.head()

     ID  ContextQ_average
0  8469               4.5
1  7264               5.5
2  3572               4.0
3   365               3.5
4  6642               4.5

In [15]:
avatar_sum = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AgentQuest.csv')
avatar_sum.head(21)

,ID,remember_action_likert,remember_standing_likert,attractive_action_likert,attractive_standing_likert,realistic_action_likert,realistic_standing_likert
0,365,2.714286,1.107143,2.214286,1.178571,3.392857,1.964286
1,479,4.178571,2.214286,1.000000,1.000000,3.571429,3.250000
2,1754,1.678571,1.035714,3.107143,2.892857,3.821429,3.464286
3,2258,3.464286,1.464286,2.142857,2.000000,3.035714,2.000000
4,3246,3.357143,1.750000,2.392857,2.214286,3.678571,3.607143
5,3572,2.250000,1.714286,2.607143,2.607143,2.964286,2.678571
6,3976,1.892857,1.000000,1.035714,1.035714,4.321429,3.750000
7,4176,3.000000,1.107143,1.607143,1.500000,3.321429,2.892857
8,4597,3.321429,1.250000,3.107143,2.607143,3.785714,3.035714
9,4623,2.321429,1.714286,2.178571,1.857143,2.750000,2.285714
10,4796,3.214286,1.250000,3.035714,2.428571,3.857143,2.535714
11,5238,3.392857,1.535714,3.142857,2.571429,3.821429,3.071429
12,5531,3.571429,2.250000,3.392857,3.035714,3.821429,2.928571
13,5741,3.857143,2.928571,2.535714,1.821429,3.214286,2.857143
14,6642,3.642857,2.178571,2.857143,2.428571,3.892857,3.214286
15,7093,2.964286,1.500000,2.464286,1.714286,3.392857,2.821429
16,7264,2.178571,1.785714,2.535714,2.178571,3.107143,2.928571
17,7412,3.607143,1.678571,2.428571,2.000000,2.928571,2.357143
18,7842,2.892857,1.785714,2.000000,2.000000,2.428571,2.071429
19,8007,2.857143,1.642857,2.535714,1.892857,3.357143,2.607143
20,8469,2.214286,1.178571,2.892857,2.250000,3.428571,3.107143

In [16]:
pointing_sum= pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/PointingSummary.csv')
pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,IQR,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialID,ID_for_StartingPosition,PointingTaskStartingLocations.1,avatarID,AvatarPresenceCategory,Context,meaningfulBuilding,ImageName
0,365,15.396716,15.396716,63.921884,25.825715,197.768723,21,1,1,21,46,Avatar,False,Not meaningful,46_Sa
1,365,6.037733,-6.037733,63.921884,4.799789,213.475525,16,78,6,16,46,NoAvatar,False,Not meaningful,46_SaNo
2,365,6.345290,6.345290,63.921884,4.638590,111.623512,13,88,4,13,46,Avatar,False,Not meaningful,46_Sa
3,365,3.627752,3.627752,63.921884,2.361455,111.623512,13,95,11,13,46,NoAvatar,False,Not meaningful,46_SaNo
4,365,19.115237,-19.115237,63.921884,5.975304,232.765823,8,131,11,8,46,NoAvatar,False,Not meaningful,46_SaNo

In [17]:
pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7708 entries, 0 to 7707
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               7708 non-null   int64
 1   AbsolutError                     7708 non-null   float64
 2   SignedAngle-+180                 7708 non-null   float64
 3   IQR                              7708 non-null   float64
 4   RT                               7708 non-null   float64
 5   DistanceToParticipant            7708 non-null   float64
 6   PointingTaskStartingLocations    7708 non-null   int64
 7   TrialID                          7708 non-null   int64
 8   ID_for_StartingPosition          7708 non-null   int64
 9   PointingTaskStartingLocations.1  7708 non-null   int64
 10  avatarID                         7708 non-null   int64
 11  AvatarPresenceCategory           7708 non-null   object
 12  Context                          7708 non-null   bool
 13  meaningfulBuilding               7708 non-null   object
 14  ImageName                        7708 non-null   object
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 850.7+ KB

In [18]:
data_frames = [FRSquest, affiliative, context, avatar_sum, pointing_sum]
humanA_Behavioural = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [19]:
humanA_Behavioural.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7712 entries, 0 to 7711
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               7712 non-null   float64
 1   Alter                            7711 non-null   float64
 2   Global                           7711 non-null   float64
 3   Overview                         7711 non-null   float64
 4   Cardinal                         7711 non-null   float64
 5   AffiliativeQ_average             7709 non-null   float64
 6   ContextQ_average                 7709 non-null   float64
 7   remember_action_likert           7710 non-null   float64
 8   remember_standing_likert         7710 non-null   float64
 9   attractive_action_likert         7710 non-null   float64
 10  attractive_standing_likert       7710 non-null   float64
 11  realistic_action_likert          7710 non-null   float64
 12  realistic_standing_likert        7710 non-null   float64
 13  AbsolutError                     7708 non-null   float64
 14  SignedAngle-+180                 7708 non-null   float64
 15  IQR                              7708 non-null   float64
 16  RT                               7708 non-null   float64
 17  DistanceToParticipant            7708 non-null   float64
 18  PointingTaskStartingLocations    7708 non-null   float64
 19  TrialID                          7708 non-null   float64
 20  ID_for_StartingPosition          7708 non-null   float64
 21  PointingTaskStartingLocations.1  7708 non-null   float64
 22  avatarID                         7708 non-null   float64
 23  AvatarPresenceCategory           7708 non-null   object
 24  Context                          7708 non-null   object
 25  meaningfulBuilding               7708 non-null   object
 26  ImageName                        7708 non-null   object
dtypes: float64(23), object(4)
memory usage: 1.6+ MB

In [20]:
os.chdir('/Users/tracysanchezpacheco/Documents/Resources')
humanA_Behavioural.to_csv('humanA_Behavioural.csv')