# Joining final data sets

In [1]:
import os
import pandas as pd
from functools import reduce

In [2]:
# Loading the final datasets data come as a result of the jupiter notebooks contained in  
FRSquest = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/FRSsubs.csv')
FRSquest.drop('Unnamed: 0', axis=1, inplace=True)
FRSquest.head()

       ID  Alter   Global  Overview  Cardinal
0   365.0    37.0     5.6  6.285714       2.5
1  3572.0    23.0     5.7  3.142857       1.0
2  7264.0    23.0     4.7  5.000000       1.0
3  8469.0    29.0     4.2  2.857143       1.0
4  6642.0    19.0     4.9  4.714286       4.0

In [3]:
affiliative = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AffilliativeTend.csv')
affiliative = affiliative[['ID', 'AffiliativeQ_average']]
affiliative.head(18)

      ID  AffiliativeQ_average
0   8469                   3.8
1   7264                   1.4
2   3572                   4.0
3    365                   5.2
4   6642                   4.2
5   5741                   2.8
6   7842                   3.4
7   4176                   3.4
8   9472                   4.6
9   4623                   2.2
10  9502                   2.4
11  7093                   3.6
12  2258                   5.0
13  1754                   2.4
14  5238                   5.0
15  8695                   4.8
16  3976                   2.4
17  5531                   5.6

In [4]:
context = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/ContextQuest.csv')
context = context[['ID', 'item3','ContextQ_average']]
context.head()

     ID  item3  ContextQ_average
0  8469      4               5.0
1  7264      3               7.0
2  3572      2               4.5
3   365      2               3.5
4  6642      3               6.0

In [5]:
avatar_sum = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AgentQuest.csv')
avatar_sum.head(21)

,ID,remember_action_likert,remember_standing_likert,attractive_action_likert,attractive_standing_likert,realistic_action_likert,realistic_standing_likert
0,365,2.714286,1.107143,2.214286,1.178571,3.392857,1.964286
1,479,4.178571,2.214286,1.000000,1.000000,3.571429,3.250000
2,1754,1.678571,1.035714,3.107143,2.892857,3.821429,3.464286
3,2258,3.464286,1.464286,2.142857,2.000000,3.035714,2.000000
4,2693,1.642857,1.000000,1.714286,1.250000,3.250000,2.428571
5,3246,3.357143,1.750000,2.392857,2.214286,3.678571,3.607143
6,3310,2.464286,1.607143,3.107143,2.750000,3.142857,2.928571
7,3572,2.250000,1.714286,2.607143,2.607143,2.964286,2.678571
8,3976,1.892857,1.000000,1.035714,1.035714,4.321429,3.750000
9,4176,3.000000,1.107143,1.607143,1.500000,3.321429,2.892857
10,4597,3.321429,1.250000,3.107143,2.607143,3.785714,3.035714
11,4623,2.321429,1.714286,2.178571,1.857143,2.750000,2.285714
12,4796,3.214286,1.250000,3.035714,2.428571,3.857143,2.535714
13,5238,3.392857,1.535714,3.142857,2.571429,3.821429,3.071429
14,5531,3.571429,2.250000,3.392857,3.035714,3.821429,2.928571
15,5741,3.857143,2.928571,2.535714,1.821429,3.214286,2.857143
16,6642,3.642857,2.178571,2.857143,2.428571,3.892857,3.214286
17,7093,2.964286,1.500000,2.464286,1.714286,3.392857,2.821429
18,7264,2.178571,1.785714,2.535714,2.178571,3.107143,2.928571
19,7412,3.607143,1.678571,2.428571,2.000000,2.928571,2.357143
20,7842,2.892857,1.785714,2.000000,2.000000,2.428571,2.071429

In [6]:
pointing_sum= pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/PointingSummary.csv')
pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,IQR,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialNumber,StartPointID,ID_for_StartingPosition,avatarID,AvatarPresenceCategory,Context,meaningfulBuilding,ImageName
0,479,26.441377,26.441377,25.855071,25.632291,297.913635,7,1,1,1,5,NoAvatar,True,Meaningful,05_CmANo
1,479,7.299795,7.299795,25.855071,9.823777,173.046249,22,49,5,1,5,Avatar,True,Meaningful,05_CmA
2,479,22.524660,-22.524660,25.855071,2.202241,263.186127,18,173,15,5,5,Avatar,True,Meaningful,05_CmA
3,479,29.607650,-29.607650,25.855071,6.977730,263.186127,18,176,15,8,5,NoAvatar,True,Meaningful,05_CmANo
4,479,32.524715,-32.524715,25.855071,6.163794,152.117493,19,262,22,10,5,NoAvatar,True,Meaningful,05_CmANo

In [7]:
pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9384 entries, 0 to 9383
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             9384 non-null   int64
 1   AbsolutError                   9384 non-null   float64
 2   SignedAngle-+180               9384 non-null   float64
 3   IQR                            9384 non-null   float64
 4   RT                             9384 non-null   float64
 5   DistanceToParticipant          9384 non-null   float64
 6   PointingTaskStartingLocations  9384 non-null   int64
 7   TrialNumber                    9384 non-null   int64
 8   StartPointID                   9384 non-null   int64
 9   ID_for_StartingPosition        9384 non-null   int64
 10  avatarID                       9384 non-null   int64
 11  AvatarPresenceCategory         9384 non-null   object
 12  Context                        9384 non-null   bool
 13  meaningfulBuilding             9384 non-null   object
 14  ImageName                      9384 non-null   object
dtypes: bool(1), float64(5), int64(6), object(3)
memory usage: 1.0+ MB

In [8]:
data_frames = [FRSquest, affiliative, context, avatar_sum, pointing_sum]
humanA_Behavioural = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [9]:
humanA_Behavioural.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9388 entries, 0 to 9387
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             9388 non-null   float64
 1   Alter                          9052 non-null   float64
 2   Global                         9052 non-null   float64
 3   Overview                       9052 non-null   float64
 4   Cardinal                       9052 non-null   float64
 5   AffiliativeQ_average           8715 non-null   float64
 6   item3                          8715 non-null   float64
 7   ContextQ_average               8715 non-null   float64
 8   remember_action_likert         8716 non-null   float64
 9   remember_standing_likert       8716 non-null   float64
 10  attractive_action_likert       8716 non-null   float64
 11  attractive_standing_likert     8716 non-null   float64
 12  realistic_action_likert        8716 non-null   float64
 13  realistic_standing_likert      8716 non-null   float64
 14  AbsolutError                   9384 non-null   float64
 15  SignedAngle-+180               9384 non-null   float64
 16  IQR                            9384 non-null   float64
 17  RT                             9384 non-null   float64
 18  DistanceToParticipant          9384 non-null   float64
 19  PointingTaskStartingLocations  9384 non-null   float64
 20  TrialNumber                    9384 non-null   float64
 21  StartPointID                   9384 non-null   float64
 22  ID_for_StartingPosition        9384 non-null   float64
 23  avatarID                       9384 non-null   float64
 24  AvatarPresenceCategory         9384 non-null   object
 25  Context                        9384 non-null   object
 26  meaningfulBuilding             9384 non-null   object
 27  ImageName                      9384 non-null   object
dtypes: float64(24), object(4)
memory usage: 2.1+ MB

In [10]:
humanA_Behavioural.to_csv('/Users/tracysanchezpacheco/Documents/Resources/humanA_Behavioural.csv')

In [11]:
humanA_Behavioural[['ImageName', 'avatarID']]

     ImageName  avatarID
0          NaN       NaN
1     05_CmANo       5.0
2       05_CmA       5.0
3       05_CmA       5.0
4       05_CmA       5.0
...        ...       ...
9383     54_Sa      54.0
9384   36_SaNo      36.0
9385     36_Sa      36.0
9386     36_Sa      36.0
9387   36_SaNo      36.0

[9388 rows x 2 columns]