# Joining final data sets

In [74]:
import pandas as pd
from functools import reduce

In [75]:
# Loading the final datasets data come as a result of the jupiter notebooks contained in  
FRSquest = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/FRSsubs.csv')
FRSquest.drop('Unnamed: 0', axis=1, inplace=True)
FRSquest.head()

       ID  Alter   Global  Overview  Cardinal
0   365.0    37.0     5.6  6.285714       2.5
1  3572.0    23.0     5.7  3.142857       1.0
2  7264.0    23.0     4.7  5.000000       1.0
3  8469.0    29.0     4.2  2.857143       1.0
4  6642.0    19.0     4.9  4.714286       4.0

In [76]:
affiliative = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AffilliativeTend.csv')
affiliative = affiliative[['ID', 'AffiliativeQ_average']]
affiliative.head(18)

      ID  AffiliativeQ_average
0   8469                   3.8
1   7264                   1.4
2   3572                   4.0
3    365                   5.2
4   6642                   4.2
5   5741                   2.8
6   7842                   3.4
7   4176                   3.4
8   9472                   4.6
9   4623                   2.2
10  9502                   2.4
11  7093                   3.6
12  2258                   5.0
13  1754                   2.4
14  5238                   5.0
15  8695                   4.8
16  3976                   2.4
17  5531                   5.6

In [77]:
context = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/ContextQuest.csv')
context = context[['ID', 'ContextQ_average']]
context.head()

     ID  ContextQ_average
0  8469               4.5
1  7264               5.5
2  3572               4.0
3   365               3.5
4  6642               4.5

In [78]:
avatar_sum = pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/AvatarSum.csv')
avatar_sum.head(21)

      ID  avatar_action_likert  avatar_standing_likert
0    365                    76                      31
1   1754                    47                      29
2   2258                    97                      41
3   3572                    63                      48
4   3976                    53                      28
5   4176                    84                      31
6   4597                    93                      35
7   4623                    65                      48
8   4796                    90                      35
9   5238                    95                      43
10  5531                   100                      63
11  5741                   108                      82
12  6642                   102                      61
13  7093                    83                      42
14  7264                    61                      50
15  7412                   101                      47
16  7842                    81                      50
17  8469                    62                      33
18  8695                    69                      32
19  9472                    76                      62
20  9502                    90                      36

In [79]:
pointing_sum= pd.read_csv('/Users/tracysanchezpacheco/Documents/Resources/PointingSummary.csv')
pointing_sum.drop('Unnamed: 0', axis=1, inplace=True)
pointing_sum.head()

,ID,AbsolutError,SignedAngle-+180,RT,DistanceToParticipant,PointingTaskStartingLocations,TrialID,avatarID,AvatarPresenceCategory,Context,ImageName
0,365,15.396716,15.396716,25.825715,197.768723,21,1,46,Avatar,False,46_Sa
1,365,6.037733,-6.037733,4.799789,213.475525,16,78,46,NoAvatar,False,46_SaNo
2,365,6.345290,6.345290,4.638590,111.623512,13,88,46,Avatar,False,46_Sa
3,365,3.627752,3.627752,2.361455,111.623512,13,95,46,NoAvatar,False,46_SaNo
4,365,19.115237,-19.115237,5.975304,232.765823,8,131,46,NoAvatar,False,46_SaNo

In [80]:
pointing_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6048 entries, 0 to 6047
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             6048 non-null   int64
 1   AbsolutError                   6048 non-null   float64
 2   SignedAngle-+180               6048 non-null   float64
 3   RT                             6048 non-null   float64
 4   DistanceToParticipant          6048 non-null   float64
 5   PointingTaskStartingLocations  6048 non-null   int64
 6   TrialID                        6048 non-null   int64
 7   avatarID                       6048 non-null   int64
 8   AvatarPresenceCategory         6048 non-null   object
 9   Context                        6048 non-null   bool
 10  ImageName                      6048 non-null   object
dtypes: bool(1), float64(4), int64(4), object(2)
memory usage: 478.5+ KB

In [81]:
data_frames = [FRSquest, affiliative, context, avatar_sum, pointing_sum]
humanA_Behavioural = reduce(lambda  left,right: pd.merge(left,right,on=['ID'],
                                                how='outer'), data_frames)

In [82]:
humanA_Behavioural.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6051 entries, 0 to 6050
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             6051 non-null   float64
 1   Alter                          6050 non-null   float64
 2   Global                         6050 non-null   float64
 3   Overview                       6050 non-null   float64
 4   Cardinal                       6050 non-null   float64
 5   AffiliativeQ_average           6050 non-null   float64
 6   ContextQ_average               6050 non-null   float64
 7   avatar_action_likert           6051 non-null   int64
 8   avatar_standing_likert         6051 non-null   int64
 9   AbsolutError                   6048 non-null   float64
 10  SignedAngle-+180               6048 non-null   float64
 11  RT                             6048 non-null   float64
 12  DistanceToParticipant          6048 non-null   float64
 13  PointingTaskStartingLocations  6048 non-null   float64
 14  TrialID                        6048 non-null   float64
 15  avatarID                       6048 non-null   float64
 16  AvatarPresenceCategory         6048 non-null   object
 17  Context                        6048 non-null   object
 18  ImageName                      6048 non-null   object
dtypes: float64(14), int64(2), object(3)
memory usage: 945.5+ KB